ultralytics
opencv-python 
# pip install onnxslim==0.1.74
# pip install onnxruntime==1.16.3


numpy==1.26.4

pyyaml 
flask 
streamlit
psutil 
requests
onnx 
onnxruntime 
onnxruntime-gpu
tqdm 
matplotlib 
seaborn

# yolo download model=yolov8n.pt
flask-cors